<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 <listeners>
	 
	<listener class-name="ListenersPack_sel_16_Task.IListeners_sel_16_Task"></listener> 
	 
 </listeners>
 <test name="amazon_itemTest">
   
      <parameter name="browser" value="chrome"></parameter>
<parameter name="urlAddress" value="https://www.amazon.com/"></parameter>
      
   
    <classes>
      <class name="Amazon_Task_16_Dataprovider.ItemTest"/>
    </classes>
  </test> <!-- amazon_itemTest -->
</suite> <!-- Suite -->
